body{
    background-image: url(bg1.jpg);
    background-size: cover;
}
.container{
    margin: 0 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
h1{
    height: fit-content;
    width: 100%;
    color: rgb(177, 175, 175);
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    animation: head 0.75s ease-in-out 1s infinite;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 25%;
}
@keyframes head {
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(177, 175, 175);
    }
}
